/* static/base.css */

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'monserrat';
    background-color: white; /* Wine-colored background */
    background-image: url('texture.png'); /* Add the path to your texture image */
    background-repeat: repeat; /* Repeat the texture */
    color: #fff; /* White text */
}

/* Navbar Styles */
.navbar {
    background-color: #5c0000; /* Darker wine-colored background */
    color: #fff; /* White text */
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.navbar-brand {
    font-size: 2.0rem;
    font-weight: bold;
    padding: 0 50px;
}

.navbar-menu {
    display: flex;
}

.navbar-nav {
    list-style-type: none;
    display: flex;
}

.navbar-nav li {
    margin-right: 20px;
}

.navbar-nav a {
    text-decoration: none;
    color: #fff;
}